<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {{ name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="connections">Connections</a></li>
                <li><a href="credentials">Credentials</a></li>
                <li><a href="proofs">Proofs</a></li>
            </ul>
        </div>
    </nav>
  <div class="jumbotron text-center">
    {% if name %}
    <h1> {{ name }}: Connections </h1>
      {% if did %}
      <h3> Has current registered public DID of: {did} </h3>
      {% endif %}
    {% else %}
    <h1> Sorry, no agent detected </h1>
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><u>Active Connecitons</u></h3>
         <!-- todo select active connection -->
        <p id="active_connections"></p>
        <p id="active_connections_text"></p>
         <!--form id="active_con_form">
        <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Active Connection
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
        </div>
      </form-->
      </div>
      <div class="col-md-6">
        <h3><u>Full Connection History</u></h3>
        <p id ="conn_history"></p>
        <p id ="clean_conn_history"></p>
      </div>
    </div>
  </div>

    <script>
    $(document).ready(function(){
    $.ajax({ url: "/get_connections",
        context: document.body,
        dataType: 'json',
        success: function(response){
           var results = response["results"]
           for (var i= 0; i < results.length; i++) {

                   $('#conn_history').append("Connection ID: " + results[i].connection_id + "<br>");
                   $('#conn_history').append("Updated at: " + results[i].updated_at + "<br>");
                   $('#conn_history').append("Connection state: " + results[i].state + "<br>");
                   if(results[i].hasOwnProperty('their_label')) {
                       $('#conn_history').append("Their label: " + results[i].their_label + "<br>");
                   }
                   $('#conn_history').append("<br>");
           }
        }});
    });
  </script>

<script>
    $(document).ready(function(){
    $.ajax({ url: "/get_active_connections",
        context: document.body,
        dataType: 'json',
        success: function(response){
           console.log("object: %0", response)
            for (var key in response) {
                if (response.hasOwnProperty(key)) {
                    console.log(key + " -> " + response[key]);
                    $('#active_connections_text').append(key + " : " + response[key] + "<br>");
                }
            }
        }});
    });
  </script>
</body>
</html>

