<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          {{ name }}
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="connections">Connections</a></li>
        <li class="active"><a href="credentials">Credentials</a></li>
        <li><a href="proofs">Proofs</a></li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron text-center">
    {% if name %}
    <h1> {{ name }}: Credentials </h1>
    {% else %}
    <h1> Sorry, no agent detected </h1>
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3><u> Available Actions </u></h3>
        {% if name == "flaskuser" %}
            <h4>None</h4>

        {% else %}
          <button class = "btn btn-primary" id="issue" onclick="issueCredential()">
            {% if name == "flaskvendor" %}
               Issue Package Credential
            {% elif name == "flaskbank" %}
               Issue Payment Credential
            {% else %}
               Issue Receipt Credential
            {% endif %}
        {% endif %}
          </button>
        <p id="issue_cred_txt"></p>
      </div>
      <div class="col-sm-3">
        <h3><u>Demo Agent DIDs</u></h3>
        <form action="/set_dids" name="didForm" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="shipper_did">Shipper DID: {{ ship_did }}</label>
            <input type="text" class="form-control" id="shipper_did" name="shipper_did">
          </div>
          <div class="form-group">
            <label for="bank_did">Bank DID: {{ bank_did }}</label>
            <input type="text" class="form-control" id="bank_did" name="bank_did">
          </div>
            <div class="form-group">
              <label for="vendor_did">Vendor DID: {{ vendor_did }}</label>
              <input type="text" class="form-control" id="vendor_did" name="vendor_did">
            </div>
          <input type="submit" value="submit"></input>
        </form>
      </div>
      <div class="col-sm-3">
        <h3><u>Credential Exchange History</u></h3>
        <p id="cred_history_text"></p>
      </div>
      <div class="col-sm-3">
        <h3><u> Stored Credentials</u></h3>
        <p id="stored_credentials"></p>
      </div>
    </div>
  </div>
  <!--  todo :list the current dids  -->
  <script>
    $(document).ready(function(){
    $.ajax({ url: "/get_connections",
        context: document.body,
        success: function(response){
        }});
    });
  </script>
  <!--script>
    $(document).ready(function(){
    $.ajax({ url: "/credentials/history",
        context: document.body,
        success: function(response){
          $('#cred_history_text').text(response)
        }});
    });
  </script-->

  <!--script>
    $(document).ready(function(){
    $.ajax({ url: "/credentials",
        context: document.body,
        success: function(response){
          $('#stored_credentials').text(response)
        }});
    });
  </script-->
  <script>
    $(document).ready(function(){
    $.ajax({ url: "/credentials/history",
        context: document.body,
        dataType: 'json',
        success: function(response){
           var results = response["results"]
           console.log("object: %0", results)
           for (var i= 0; i < results.length; i++) {
                   $('#cred_history_text').append("<u>Credential Exchange ID:</u> " + results[i].credential_exchange_id + "<br>");
                   $('#cred_history_text').append("<u>Schema ID:</u> " + results[i].schema_id + "<br>");
                   $('#cred_history_text').append("<u>State:</u> " + results[i].state + "<br>");
           }
        }});
    });
  </script>

  <script>
    $(document).ready(function(){
    $.ajax({ url: "/credentials",
        context: document.body,
        dataType: 'json',
        success: function(response){
           var results = response["results"]
           console.log("object: %0", results)
           for (var i= 0; i < results.length; i++) {
                   $('#stored_credentials').append("<u>Schema ID:</u> " + results[i].schema_id + "<br>");
                   $('#stored_credentials').append("<u>credential def id:</u> " + results[i].cred_def_id + "<br>");

                   var attributes = results[i].attrs
                   $('#stored_credentials').append("<u>Attributes:</u>" + "<br>");
                   for (var key in attributes) {
                     $('#stored_credentials').append("&nbsp" + key + " : " + attributes[key] + "<br>");
                  }
                   $('#stored_credentials').append("<br>");

           }
        }});
    });
  </script>

  <script>
 function issueCredential() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
         location.reload(true)
     }
   };
   xhttp.open("GET", "/issue_cred", true);
   xhttp.send();
 }
</script>
</body>
</html>

