<!doctype html>
<!-- jQuery library -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="connections">Connections</a></li>
          <li><a href="credentials">Credentials</a></li>
          <li><a href="proofs">Proofs</a></li>
        </ul>
      </div>
    </nav>


    <title> Welcome to the demo controller interface! </title>
    {% if name %}
    <h1> {{ name }} controller is up! </h1>
    {% else %}
    <h1> Sorry, no controller is active! </h1>
    {% endif %}
    <div id ="like_button.js">
    </div>

    <div id="Anoncreds Actions">
        <h3>
            Anoncreds actions
        </h3>
        <Button id = "issue_cred" onclick="issueCredential()" value ="credbutton">Issue Credential</Button>
        <Button id = "req_proof" onclick="requestProof()" value="proofbutton">Request Proof</Button>
    </div>
    <div id="connection_stuff">
        <h3>
            Connection-related actions
        </h3>
        <Button id = "inv_but" onclick="createInvite()" value="proofbutton">Create Invite</Button>
        <Button id = "get_conns" onclick="getConnections()" value="connButton">Check Connection History</Button>
        <Button id = "get_active_conns" onclick="getActiveConnections()" value="activeConnButton">Check active connections</Button>
        <Button id = "status" onclick="getStatus()" value="statusButton">Get Server Status</Button>
    </div>

    <div id = "inputstuff">
        <h3>
            Paste invitation JSON:
        </h3>
        <form action="/receive_invite" id="invForm" name=inviteForm method="post" enctype="multipart/form-data">
            <textarea id="recInv" rows="20", cols="60" name="invite"></textarea>
            <input type="submit" value="submit"/>
        </form>
        <h3>
            Manual input option for the public DIDs of the other demo agents
        </h3>
        <form action="/set_dids" name=didForm method="post">
            Bank Did <textarea id="bank_did_box" name="bank_did"></textarea>
            Shipper Did<textarea id="shipper_did_box" name="shipper_did"></textarea>
            Vendor Did<textarea id="vendor_did_box" name="vendor_did"></textarea>
            <input type="submit" value="submit"/>
        </form>
        <form action="/send_message" name=msgForm method="post" onsubmit="return false;">
            Send Message: <textarea id="msgArea" name="message"></textarea>
            <input type="submit" value="submit"/>
        </form>



    <div id = "demo">
    </div>

    <div id = "sourceTest">
    </div>
    <script>
     function getStatus() {
       var xhttp = new XMLHttpRequest();
       xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
           document.getElementById("demo").innerHTML =
           this.responseText;
         }
       };
       xhttp.open("GET", "/status", true);
       xhttp.send();
     }
    </script>

    <script>
     function createInvite() {
       var xhttp = new XMLHttpRequest();
       xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
           document.getElementById("demo").innerHTML =
           this.responseText;
         }
       };
       xhttp.open("GET", "/create_invite", true);
       xhttp.send();
     }
    </script>

    <script>
     function getConnections() {
       var xhttp = new XMLHttpRequest();
       xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
           document.getElementById("demo").innerHTML =
           this.responseText;
         }
       };
       xhttp.open("GET", "/get_connections", true);
       xhttp.send();
     }
    </script>

    <script>
     function getActiveConnections() {
       var xhttp = new XMLHttpRequest();
       xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
           document.getElementById("demo").innerHTML =
           this.responseText;
         }
       };
       xhttp.open("GET", "/get_active_connections", true);
       xhttp.send();
     }
    </script>
    <script>
     function issueCredential() {
       var xhttp = new XMLHttpRequest();
       xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
           document.getElementById("demo").innerHTML =
           this.responseText;
         }
       };
       xhttp.open("GET", "/issue_cred", true);
       xhttp.send();
     }
    </script>
    <script>
     function requestProof() {
       var xhttp = new XMLHttpRequest();
       xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
           document.getElementById("demo").innerHTML =
           this.responseText;
         }
       };
       xhttp.open("GET", "/request_proof", true);
       xhttp.send();
     }
    </script>

</body>
