<!doctype html>

<head>
    <!--link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}"/-->
    <!--link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mvp.css') }}"/-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                {{ name }}
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="connections">Connections</a></li>
            <li><a href="credentials">Credentials</a></li>
            <li><a href="proofs">Proofs</a></li>
            <li><a href="shop">Shop</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    {% if name %}
    <h1> {{ name }}: Aries agent is up and running! </h1>
        {% if did %}
        <h4>Registered public DID: {{ did }}</h4>
        {% endif %}
    {% else %}
    <h1> Sorry, no agent detected </h1>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="connection_stuff">
                <h3>
                    Actions
                </h3>
                {% if name != "flaskuser" %}
                <Button id = "inv_but" onclick="createInvite()" value="invButton">Create Invite</Button>
                {% endif %}
                <Button id = "status" onclick="getStatus()" value="statusButton">Get Server Status</Button>
            </div>
            <div id = "inputstuff">
                <h3>
                    Paste invitation JSON:
                </h3>
                <form action="/connections/receive_invite" id="invForm"  name=inviteForm method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="invite_area">Paste Invite JSON</label>
                        <input class="form-control input-lg" id="invite_area" name="invite">
                    </div>
                    <button class="btn btn-default" type="submit" value="submit">Submit</button>
                </form>

                <div id = "demo">
                </div>
            </p>
        </div>
    </div>
</div>

<div id = "sourceTest">
</div>
<iframe name="hiddenFrame" width="0" height="0" style="display: none;"></iframe>

<script>
 function getStatus() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
       document.getElementById("demo").innerHTML =
       "<h3> Server Status JSON: " +  this.responseText + "</h3>";

     }
   };
   xhttp.open("GET", "/status", true);
   xhttp.send();
 }
</script>

<script>
 function createInvite() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
       document.getElementById("demo").innerHTML =
       "<h3> Invite Details: <br>" + this.responseText + "</h3>";
     }
   };
   xhttp.open("GET", "/connections/create_invite", true);
   xhttp.send();
 }
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</div>
</body>
</html>
