<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='javascript/button_funcs.js')}}"></script>
<script src="{{url_for('static', filename='javascript/shop.js')}}"></script>
<script src="{{url_for('static', filename='javascript/shipper_demo.js')}}"></script>

{% if name == "User" %}
    <script src="{{url_for('static', filename='javascript/user_demo.js')}}"></script>
{% endif %}
{% if name == "Vendor" %}
    <script src="{{url_for('static', filename='javascript/vendor_demo.js')}}"></script>
{% endif %}
{% if name == "Bank" %}
    <script src="{{url_for('static', filename='javascript/bank_demo.js')}}"></script>
{% endif %}
{% if name == "Shipper" %}
<script src="{{url_for('static', filename='javascript/shipper_demo.js')}}"></script>
{% endif %}

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {{ name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="connections">Connections</a></li>
                <li><a href="credentials">Credentials</a></li>
                <li><a href="proofs">Proofs</a></li>
                <li class="active"><a href="shop">Shop</a></li>
            </ul>
        </div>
    </nav>

  <div class="jumbotron text-center">
    {% if name %}
    <h1> {{ name }} Shop Demo </h1>
    {% else %}
    <h1> Sorry, no agent detected </h1>
    {% endif %}
    {% if did %}
    <h4>Registered public DID: {{ did }}</h4>
    {% endif %}
  </div>


<div class="container">
<div class="row">
    <div class="col-md-12">
        <h3 id="current_connection"><b>Current Connection: </b></h3>
        <h3 id="t_stage"><b>Current Transaction Stage: </b> </h3>
        <div id="connection_stuff">
            <h3>
                <u>Available Actions</u>
            </h3>
            <div class="btn-group-vertical" id="actions">
                {% if name != "User" %}
                <Button id = "inv_but" type="button" onclick="createInvite()" value="invButton">Create Invite</Button>
                {% endif %}
                <Button id = "status" type="button" onclick="getStatus()" value="statusButton">Get Server Status</Button>
            </div>
        </div>
        <div id = "inputstuff">
            <h3>
                Paste invitation JSON:
            </h3>
            <form action="/connections/receive_invite" id="invForm"  name=inviteForm method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="invite_area">Paste Invite JSON</label>
                    <input class="form-control input-lg" id="invite_area" name="invite">
                </div>
                <button class="btn btn-default" type="submit" value="submit">Submit</button>
            </form>
            <div id = "demo">
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(document).ready(function() {
    var name = '{{ name }}'
    var stage = '{{ stage }}'
    if (name === "User") {
        console.log("user func, ".concat(name, " ", stage))
        getUserActions(stage)
    }
    else if (name === "Vendor") {
        console.log("vendor func, ".concat(name, " ", stage))
        getVendorActions(stage)
    }
    else if (name === "Bank") {
        console.log("bank func, ".concat(name, " ", stage))
        getBankActions(stage)
    }else if (name === "Shipper") {
        console.log("shipper func, ".concat(name, " ", stage))
        getShipperActions(stage)
    }
})
</script>
</body>
</html>
