<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {{ name }}
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="connections">Connections</a></li>
                <li><a href="credentials">Credentials</a></li>
                <li class="active"><a href="proofs">Proofs</a></li>
                <li><a href="shop">Shop</a></li>
            </ul>
        </div>
    </nav>

  <div class="jumbotron text-center">
    {% if name %}
    <h1> {{ name }}: Proofs </h1>
    {% else %}
    <h1> Sorry, no agent detected </h1>
    {% endif %}
  </div>
  <div class="container">
      <div class="col-md-6">
          <h3><u>Actions</u></h3>
          <div class="btn-group-vertical">
          {% if name == "Vendor" %}
          <button class="btn btn-primary" id="propose_dispatch" onclick="proposeProofOfDispatch()">Propose Proof of Dispatch </button>
          {% endif %}
          {% if name == "Shipper" %}
          {% endif %}
          {% if name == "User" %}
          <button class="btn btn-primary" id="propose_proof_payment" onclick="proposeProofOfPayment()">Propose Proof of Purchase </button>
          <button class="btn btn-primary" id="propose_proof_payment_agreement" onclick="proposeProofOfPaymentAgreement()"> Propose Proof of Payment Agreement </button>
          <button class="btn btn-primary" id="propose_proof_of_ownership" onclick="proposeProofOfOwnership()"> Propose Proof of Ownership</button>
          {% endif %}

          {% if name == "Vendor" or "User" %}
          <button class="btn btn-primary" id="issue_proof" onclick="requestProof()">
              {% if name == "Vendor" %}
              Request Proof of Payment
              {% elif name == "User" %}
              Request Proof of Package Status
              {% endif %}
          </button>
          {% endif %}
          </div>
      </div>
      <div class="col-md-6">
        <h3><u>Proof Exchange History</u></h3>
        <p id ="proof_ex_hist"></p>
      </div>
    </div>
  </div>

    <script>
    $(document).ready(function(){
    $.ajax({ url: "/proofs/history",
        context: document.body,
        dataType:'json',
        success: function(response){
           console.log("object: %0", response)
           console.log("object :%0", response["results"])
           var results = response["results"]
           for (var i= 0; i < results.length; i++) {
                console.log("start: " + i)
               $('#proof_ex_hist').append("State: " + results[i].state + "<br>");
               $('#proof_ex_hist').append("Role: " + results[i].role + "<br>");
               $('#proof_ex_hist').append("Updated at: " + results[i].updated_at + "<br>");
               if (results[i].state === "verified") {
                    console.log("verified!")
                   $('#proof_ex_hist').append("<u>Verification Result:</u> " + results[i].verified + "<br>");
                   var revealed = results[i].presentation.requested_proof.revealed_attrs
                   for (var key in revealed) {
                           $('#proof_ex_hist').append("Attribute name:" + key.substring(2, key.length-5) + ", value: " + revealed[key]['raw'] + "<br>");
                   }

                   if (results[i].presentation.requested_proof.hasOwnProperty("self_attested_attrs")) {
                       var self_attested = results[i].presentation.requested_proof.self_attested_attrs
                       $('#proof_ex_hist').append("Self Attested: <br>");
                       for (var key in self_attested) {
                               $('#proof_ex_hist').append("Attribute name:" + key.substring(2, key.length-5) + ", value: " + self_attested[key] + "<br>");
                       }
                   }
               }
               else if (results[i].hasOwnProperty("presentation_proposal_dict")) {
                    attributes = results[i].presentation_proposal_dict.presentation_proposal.attributes
                    $('#proof_ex_hist').append("Attributes: <br>");
                    for (var j = 0; j < attributes.length; j++) {
                           $('#proof_ex_hist').append("Attribute name:" + attributes[j].name + "<br>");
                    }
               }
               $('#proof_ex_hist').append("<br>");
               console.log("end: " + i)
           }
        }});
    });
  </script>


<script>
 function requestProof() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
        location.reload(true)
     }
   };
   xhttp.open("GET", "/proofs/request", true);
   xhttp.send();
 }
</script>
<script>
 function proposeProofOfPayment() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
        location.reload(true)
     }
   };
   xhttp.open("GET", "/proofs/payment/propose_proof/", true);
   xhttp.send();
 }
</script>
    <script>
 function proposeProofOfPaymentAgreement() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
        location.reload(true)
     }
   };
   xhttp.open("GET", "/proofs/payment/propose_proof/agreement", true);
   xhttp.send();
 }
</script>

<script>
 function proposeProofOfDispatch() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
        location.reload(true)
     }
   };
   xhttp.open("GET", "/proofs/shop/dispatch", true);
   xhttp.send();
 }
</script>
<script>
 function proposeProofOfOwnership() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
        location.reload(true)
     }
   };
   xhttp.open("GET", "/proofs/shop/dispatch/propose_proof/ownership", true);
   xhttp.send();
 }
</script>
</body>
</html>
